theme = carbonfox

background-opacity=0.9
background-blur=true
# background = 3B3D4E
font-family = "Hack Nerd Font Mono"
font-size = 19
window-padding-x = 20
window-padding-y = 20
window-padding-balance = true
window-save-state = always
shell-integration = zsh
macos-icon = custom-style
macos-icon-frame = aluminum
macos-icon-ghost-color = #61538D
macos-icon-screen-color = #F7F8FA
macos-titlebar-style = transparent
window-colorspace = display-p3

# Shaders
#custom-shader = /Users/maybequantum/Library/Application Support/com.mitchellh.ghostty/glitchy.glsl
#custom-shader-animation = false

keybind = cmd+s>r=reload_config

copy-on-select = clipboard
auto-update = off
